<html>
    <head>
        <title>Crypto Track</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><a href="/" style="color: black; text-decoration: none;">Crypto Track</a></h1>

            <a href="/add" class="btn btn-primary" role="button">Add New Crypto</a>
            <a href="/update" class="btn btn-success" role="button">Update</a>


            <div hx-ext="ws" ws-connect="ws://:8080/ws">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Coin name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Exchange</th>
                            <th scope="col">Investment</th>
                            <th scope="col">Purchased Price</th>
                            <th scope="col">Current Price</th>
                            <th scope="col">Profit</th>
                            <th scope="col">Income</th>
                            <th scope="col">Overall income</th>
                            <th scope="col">Activate</th>
                        </tr>
                    </thead>
                    {{ range .ServiceInvestmentsCoinsExchanges }}
                        <tbody>
                            <tr {{ if and (gt .Profit 0) (.Active) }}
                                    class="table-success"
                                {{ else if and (lt .Profit 0) (.Active) }}
                                    class="table-primary"
                                {{ else if not .Active }}
                                    class="table-active"
                                {{ end }}>
                                <th scope="row">{{ .CoinName }}</th>
                                <td>{{ .Date }}</td>
                                <td>{{ .ExchangeName }}</td>
                                <td>{{ .InvestmentInUSD }}</td>
                                <td>{{ .PurchasePrice }} USD</td>
                                <td>{{ .CurrentPrice }} USD</td>
                                <td>{{ .Profit }} %</td>
                                <td>{{ printf "%.2f" .Income }} USD</td>
                                <td>{{ printf "%.2f" .OverallIncome }} USD</td>
                                <td>
                                    {{ if .Active }}
                                        <a href="/deactivate/{{ .Id }}" style="font-size: 10px;" class="btn btn-danger" role="button">X</a>
                                    {{ else }}
                                        <a href="/activate/{{ .Id }}" style="font-size: 10px;" class="btn btn-success" role="button">O</a>
                                    {{ end }}
                                </td>
                            </tr>
                        </tbody>
                    {{ end }}
                    <tbody>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                        <tbody>
                            <tr>
                                <th>Overall</th>
                                <td></td>
                                <td></td>
                                <td>{{ printf "%.2f" .AmountInvestmentInUSD }} USD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ printf "%.2f" .AmountIncome }} USD</td>
                                <td>{{ printf "%.2f" .AmountOverallIncome }} USD</td>
                                <td></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </body>

    <script src="static/htmx.min.js"></script>
    <script src="static/ws.js"></script>
    <script src="static/bootstrap.bundle.min.js"></script>
</html>
