<html>
    <head>
        <title>Crypto Track</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <style>
            #red {
                color: red;
            }
            .table>:not(:last-child)>:last-child>* {
                border-bottom-color: #e1e1e1 !important;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="container">
                <div class="row row-cols-auto">
                    <div class="col" style="padding-left: 0px;">
                        <a href="/" style="color: black; text-decoration: none; font-size: 45px;">Crypto Track</a>
                    </div>
                </div>
            </div>

            <div class="container balanceOverall">
                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col" style="padding-left: 0px;">
                            <p style="color: black; text-decoration: none; font-size: 30px;">Overall Balance</p>
                        </div>
                        <div class="col" {{if .TimeAlertBalance }}id="red"{{ end }} style="margin-top: auto;margin-bottom: auto;">{{ .LastUpdateBalance }}</div>
                    </div>
                </div>
                
                <table class="table balanceOverallTable">
                    <thead>
                        <tr>
                            <th scope="col">Exchange</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Balance Hourly</th>
                            <th scope="col">Balance Daily</th>
                        </tr>
                    </thead>
                    {{ range .TableDataBalance }}
                        <tbody>
                            <tr>
                                <th scope="row">{{ .ExchangeName }}</th>
                                <td>{{ printf "%.2f" .BalanceUSDT }}</td>
                                <td {{ if gt .BalanceUSDTHourlyDiff 0.0 }}class="table-success"{{ else }}class="table-primary"{{ end }}>
                                    {{ printf "%.2f" .BalanceUSDTHourly }} | {{ printf "%.2f" .BalanceUSDTHourlyDiff }} {{ if gt .BalanceUSDTHourlyDiff 0.0 }}↑{{ else }}↓{{ end }}
                                </td>
                                <td {{ if gt .BalanceUSDTDailyDiff 0.0 }}class="table-success"{{ else }}class="table-primary"{{ end }}>
                                    {{ printf "%.2f" .BalanceUSDTDaily }} | {{ printf "%.2f" .BalanceUSDTDailyDiff }} {{ if gt .BalanceUSDTDailyDiff 0.0 }}↑{{ else }}↓{{ end }}
                                </td>
                            </tr>
                        </tbody>
                    {{ end }}
                </table>
            </div>

            <div hx-ext="ws" ws-connect="ws://:8080/ws">

                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col" style="padding-left: 0px;">
                            <p style="color: black; text-decoration: none; font-size: 30px;">Investment in Coins</p>
                        </div>
                        <div class="col" {{if .TimeAlert }}id="red"{{ end }} style="margin-top: auto;margin-bottom: auto;">{{ .LastUpdate }}</div>
                    </div>
                </div>

                <a href="/add" class="btn btn-primary" role="button">Add New Crypto</a>
                <a href="/update" class="btn btn-success" role="button">Update</a>
                <a href="/coins" class="btn btn-primary" role="button">Coins</a>
                <a href="/archive" class="btn btn-secondary" role="button">Archive</a>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Coin name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Exchange</th>
                            <th scope="col">Investment</th>
                            <th scope="col">Purchased Price</th>
                            <th scope="col">Current Price</th>
                            <th scope="col">Profit</th>
                            <th scope="col">Income</th>
                            <th scope="col">Overall income</th>
                            <th scope="col">Deactivate</th>
                        </tr>
                    </thead>
                    {{ range .TableData.ServiceInvestmentsCoinsExchanges }}
                        <tbody>
                            <tr {{ if and (gt .Profit 0) (.Active) }}
                                    class="table-success"
                                {{ else if and (lt .Profit 0) (.Active) }}
                                    class="table-primary"
                                {{ else if not .Active }}
                                    class="table-active"
                                {{ end }}>
                                <th scope="row">{{ .CoinName }}</th>
                                <td>{{ .Date }}</td>
                                <td>{{ .ExchangeName }}</td>
                                <td>{{ .InvestmentInUSD }}</td>
                                <td>{{ .PurchasePrice }} USD</td>
                                <td>{{ .CurrentPrice }} USD</td>
                                <td>{{ .Profit }} %</td>
                                <td>{{ printf "%.2f" .Income }} USD</td>
                                <td>{{ printf "%.2f" .OverallIncome }} USD</td>
                                <td>
                                    {{ if .Active }}
                                        <a href="/deactivate/{{ .Id }}" style="font-size: 10px;" class="btn btn-danger" role="button">X</a>
                                    {{ else }}
                                        <a href="/activate/{{ .Id }}" style="font-size: 10px;" class="btn btn-success" role="button">O</a>
                                    {{ end }}
                                </td>
                            </tr>
                        </tbody>
                    {{ end }}
                    <tbody>
                        <tr>
                            <th></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                        <tbody>
                            <tr>
                                <th>Overall</th>
                                <td></td>
                                <td></td>
                                <td>{{ printf "%.2f" .TableData.AmountInvestmentInUSD }} USD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ printf "%.2f" .TableData.AmountIncome }} USD</td>
                                <td>{{ printf "%.2f" .TableData.AmountOverallIncome }} USD</td>
                                <td></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </body>

    <script src="static/htmx.min.js"></script>
    <script src="static/ws.js"></script>
    <script src="static/bootstrap.bundle.min.js"></script>
</html>
